
<div class="col-md-8 recent-customers">
    <div class="header-section">
        <h3>Recent Customers</h3>
    </div>
    <div class="list-section">
        <ul class="list-group">
            <% 5.times do %>
                <%= render "shared/customer_item" %>
            <% end %>
        </ul>
    </div>
</div>
