
<div class="col-md-7 recent-services">
    <div class="header-section">
        <h3>Recent Servicess</h3>
    </div>
    <div class="list-section">
        <ul class="list-group">
            <% 5.times do %>
                <%= render "shared/service_item" %>
            <% end %>
        </ul>
    </div>
</div>
