<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <p><span class="badge badge-pill badge-warning service-badge lefted">Warning</span>Service lorem</p>
    <span class="badge badge-custom badge-pill">14</span>
</li>