<div class="col-md-3  col align-self-center" id="dashboard-sidebar">
    <div class="logo-header">
        <h1>zoodle</h1>
    </div>

    <div class="profile-header">
        <h2>Zombie Centreal</h2>
        <a href="">Edit Profile</a>
    </div>

    <div class="dashboard-tools">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Customers <span class="badge badge-custom badge-pill">14</span></a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Services <span class="badge badge-custom badge-pill">14</span></a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">Users <span class="badge badge-custom badge-pill">14</span></a>
        </div>
    </div>

    <div class="sidebar-footer">
        <p>2019 copywrite All Rights Reserved</p>
    </div>
</div>
