<div id="dashboard">
    <div class="container">
        <div class="row">
            <%= render "shared/sidebar" %>
            <div class="col-md-9 canvas">
                <div class="title-section">
                    <h3>Recent Activity</h3>
                </div>
                
                <div class="container">
                    <div class="row">
                        <%# recent recent_customers %>
                        <%= render "shared/recent_customers" %>
                        
                        <%# recent services %>
                        <%= render "shared/recent_services" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>