// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#devise {
    .login-header {
        text-align: center;
        
        .login-header-section {
            display: inline-block;

            .login-img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-color: #E6E6E6;
                display: inline-block;
                overflow: hidden;
                margin: 10px;
            }
        }
    }

    .login-body {
        text-align: center;

        .login-body-section {
            display: inline-block;
            width: 350px;
        }

        .form-input {
            text-align: left;
            margin-bottom: 10px;
            margin-top: 10px;

            .btn {
                width: 100%;
                background-color: #287733;
                margin-top: 5px;
            }
        }


    }
}